@switch (message().messageType) {
    @case (messageType.BOT_MESSAGE) {
        <div class="chat response">
            <img src="../assets/img/angular-gemini.png">
            <p>
                {{ message().message | aiTextFormat }}
            </p>
        </div>
    }
    @case (messageType.USER_MESSAGE) {
        <div class="chat message">
            <img src="../../../assets/img/aguekeng.png">
            <p>
                {{ message().message }}
            </p>
        </div>
    }
    @case (messageType.ERROR_MESSAGE) {
        <div class="chat error">
            <img src="../assets/img/angular-gemini.png">
            <p>
                {{ message().message }}
            </p>
        </div>
    }
    @case (messageType.LOADING_MESSAGE) {
        <div class="chat loading">
            <img src="../assets/img/angular-gemini.png">
            &nbsp;
            &nbsp;
            <p>
                <span class="loader"></span>
            </p>
        </div>
    }
    @case (messageType.USER_IMAGE_MESSAGE) {
        <div class="chat message">
            <img src="../../../assets/img/aguekeng.png">
            <p>
                <img [src]="message().picture" alt="Uploaded Image">
                <br>
                <label>
                    {{ message().message }}
                </label>
            </p>
        </div>
    }
}
