<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
  rel="stylesheet"
/>

<div class="body">
  <nav>
    <img src="../assets/img/angular-gemini.png" alt="" />
    <h1>Angular Gemini</h1>
  </nav>
  <div class="chatbox-wrapper">
    <div class="message-box">
      @for (message of chatMessages; track $index) {
      <app-chat-message [message]="message"></app-chat-message>
      }
      
    </div>
    <style>
            input[type="file"] {
        display: none;
      }
    </style>
    <div class="messagebar">

      <div class="bar-wrapper"> 
        <input type="file" id="image" (change)="onImageSelected($event)" style="cursor: pointer;">        
        @if (imageUrl) {
          <img [src]="imageUrl" alt="Uploaded Image" width="80px">
        }
        <input
          type="text" 
          placeholder="Enter your message..."
          [(ngModel)]="currentChatItem.message"
        />
        <div style="display: flex; gap: 16px">
          <button style="cursor: pointer;">
            <label for="image" class="material-symbols-rounded"> photo </label>
          </button>
          <button (click)="onSend()" style="cursor: pointer;">
            <span class="material-symbols-rounded"> send </span>
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>
