/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
  }
body{
  background-color: #131314;
}



@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import 'highlight.js/styles/github.css';

h1 a {
  text-decoration: none;
}

h1 a:hover {
  opacity: 0.87;
  text-decoration: underline;
}

blockquote {
  border-left: 3px solid rgba(0,0,0,0.21);
  padding-left: 12px;
  color: red;
}
